/* Style the dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 0.7%;
}

/* Style the button that toggles the dropdown */
.btn {
  background-color: #f1f1f1;
  width: auto;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 3%;
  margin-left: 7%;
}

/* Style the button when it is clicked on */
.btn.active,
.btn:hover {
  background-color: #ddd;
}

/* Style the dropdown menu */
.dropdown-menu {
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

/* Style the checkboxes in the dropdown menu */
.dropdown-menu input[type="checkbox"] {
  margin: 4px 0;
}

/* Style the label text for the checkboxes in the dropdown menu */
.dropdown-menu label {
  display: block;
  margin-bottom: 4px;
}
.deselectbtn{
  position: absolute;
  margin-left: 45%;
  margin-bottom: 20%;
  background-color: #717981;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.selectbtn{
  position: absolute;
  margin-left: 40%;
  background-color: #717981;
  color: #fff;
  border: none;
  border-radius: 5px;
}